.header-leftbar-right {
    width: 100%;
}
.container-myprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.container-my-profile {
    width: 100%;
}
.my-profile{
    display: flex; 
    flex-direction: column; 
    width: 80%;
    justify-content: center; 
}
.title-my-profile{
    color: white;
    padding: 0px 10px 20px 0px;
}
.container-left-right{
    display: flex;
    width: 100%;
    gap: 20px;    
}
.header-title{
    font-size: 18px;
    font-weight: bold;
}

.left{
    display: flex;
    border: 1px solid green;
    width: 50%;
    flex-direction: column;
    border-radius: 8px;
}
.header-left{
    color: white;
    padding: 20px 30px;
    border-bottom: 1px solid green;
    background-color: green;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.left-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
}
.but-div{
    display: flex;
    justify-content: end;
    padding-top: 20px;
}
.right{
    display: flex;
    border: 1px solid green;
    width: 50%;
    flex-direction: column;
    border-radius: 8px;
}
.header-right{
    color: white;
    padding: 20px 30px;
    border-bottom: 1px solid green;
    background-color: green;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.right-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
}
.p-name-profile{
    color: white;
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.email{
    color: white;
}
.save-btn{
    color: white;
    font-family: 'Comic Neue', sans-serif;
    font-size: 15px;
    border: none;
}
.choose-file {
    display: flex;
    padding: 4px;
    background-color: white;
}

.user-img {
    display: flex;
    align-self: center;
    border: 1px solid green;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

/* Tablet */
@media only screen and (max-width: 930px) {
    .container-left-right {
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}