.questions-container{
    color: white;
    display: flex;
    gap: 50px;
    width: 100%;
    
}
.questions-right-side {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    padding-bottom: 50px;
}
.questions-place {
    border: 3px solid green;
    border-radius: 7px;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
}
.questions-title-big{
    padding-bottom: 20px;
}
.questions-place-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.questions-place-start {
    display: flex;
    gap: 10px;
}
.questions-place-right{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.btn{
    border: none;
}
.title-btn{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.add-questions{
    width: 180px;
    border: none;
    padding: 15px;
    font-family: 'Comic Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
}
.spinner-questions {
    position: absolute;
    top: 25%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0);;
    border-radius: 10px;
    padding: 20px 50px;
}
.error-message {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
}
.error-place{
    width: 50%;
    text-align: center;
    border: red 1px solid;
    border-radius: 10px;
    padding: 100px;
    color: red;
}
@media only screen and (max-width: 850px) {
    .questions-place-right{
        flex-direction: column;
    }
    .add-questions{
        width: 130px;
        padding: 8px;
    }
}