.container-right-team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
.container-home{
    height: 100%;
    width: 100%;
}
.cards{
    background: #DEE0E3;
    border: 5px solid green;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}
.info-place{
    background: #F2F2F2;
    border-radius: 10px;
    overflow: hidden;
}
.name-published{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.name-data{
    display: flex;
    flex-direction: column;
}
.pending-btn{
    border: none;
    background-color: green;
}
.img-team{
    display: flex;
    width: 100%; 
    border: none;
}

.pending-buttons{
    display: flex;
    padding: 10px;
}
.pending-d-btn{
    border: none;
}
.name-team{
    font-size: 18px;
    font-weight: bold;
}
.pending-btn-team{
    background-color: green;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    color: white;
}
.pending-btn-team:hover{
    cursor: pointer;
    background-color: rgb(3, 44, 3);
}