header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 40px;
    align-items: center;
    border: 2px solid green;
    background-color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: green;
}

.q-logo {
    margin: 5px;
}
.logo-text {
    color: green;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -2px;
}
.page-link{
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;

}
.page-link:hover{
    color: white;
    background-color: green;
    border-radius: 10px;
} 

.page-link-btn{
    border: 1px solid green;
    background-color: white;
    color: green;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 110px;
    font-family: 'Comic Neue', sans-serif;
    cursor: pointer;
}

.page-link-btn:hover{
    color: white;
    background-color: green;
    border-radius: 10px;
} 

.page-links-header{
    display: flex;
    justify-content: space-around;
    max-width: 250px;
    width: 100%;
    
}
.link-header{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid green;
    border-radius: 10px;
}
.link-header:hover{
    background-color: green;
    color: white;
    border: 3px solid white;
}