.company-title{
    color: white;
    padding-bottom: 30px;
}
.company-name{
    color: white;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 14px;
}
.div-but{ 
    padding-top: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.company-container{
    display: flex;
    gap: 40px;
    
}
.compani-right{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.container-company-info{
    padding-top: 70px;
    width: 25%;
}
.left-bar-companyinfo{
    display: flex;
    width: 100%;
    gap: 50px;
}
.choose-file{
    width: 100%;
}